.itemsincartdiv {
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 20rem;
}

.itemframe {
  width: 20rem;
  height: 15rem;
  padding: 0.5rem;
  background-color: transparent;
  border-color: white;
  border: 5px;
  margin-bottom: 2rem;
  display: flex;
}

.priceandquantitydiv {
  justify-content: center;
  margin-left: 1rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.shoppingcartbuttonsorientation {
  display: flex;
}

.shoppingcartbuttons {
  display: flex;
  margin-right: 1rem;
}
