.navigator {
  background-color: rgb(255, 208, 167);
  padding: 16px;
  display: flex;
  gap: 1rem;

  a {
    background-color: transparent;
  }

  .hyperlinks {
    background-color: transparent;
  }
}
